name: Android CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      # Run tests ONLY on Pull Requests
      - name: Run unit tests (PR only)
        if: github.event_name == 'pull_request'
        run: ./gradlew test

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      # CD steps ONLY on main
      - name: Set up Ruby
        if: github.ref == 'refs/heads/main'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'

      - name: Install Bundler dependencies
        if: github.ref == 'refs/heads/main'
        run: bundle install

      - name: Distribute APK to Firebase App Distribution
        if: github.ref == 'refs/heads/main'
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        run: bundle exec fastlane android firebase
